#{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0px 5px;
    max-width: 1200px;
    margin: 0 auto;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.3rem;
}
header nav a{
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    border-radius: 4px;
}

header nav a:hover{
    background: #0800ff8d;
    color: #fff;
}
header nav img{
    width: 220px;
}

#banner{
    background: url(../IMG/06.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    
    


   
}

#banner-texto{
    
    width: 1200px;
    margin: 0 auto;
}
#banner-texto h1{
    color: #fff;
    font-size: 6rem;
    text-shadow: 0 0 10px #000;
    letter-spacing: 5px;
    
}
#banner-texto h5{
    color: #3264A6;
    font-size:2rem;
    letter-spacing: 3px;}

#banner-texto h4{
    color: white;
    font-size: 2rem;
    text-shadow: 0 0 10px white;

}

#banner-texto button{
    padding: 8px 14px;
    border-radius: 4px;
    background: #3264A6;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 2px 2px 1px #fff;
    cursor: pointer;

}

#banner-texto button:hover{
    transform: scale(1.03);
    transition:0,5s;
    background: #ff0000;


}

#servicos{
    max-width: 1200px;
    margin: 0 auto;
}
#servicos h2{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0px;
}

#servicos-icones{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
}

#servicos-icones div{
    flex: 1 1 calc(33.3% - 30px);
}
#servicos-icones img{
    width: 130px;
}

 
body{
    margin: 0;
    
}

html{
    scroll-behavior: smooth;
}

#promocoes{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    gap: 30px;

}
#promocoes div{
    flex: 1 1 calc(50% - 30px);
}
#promocoes img{
    width: 100%;
}
#promocoes h3{
    color: #ff0000;

}
#promocoes h2{
    font-size: 2rem;

}
#promocoes ul{
    list-style-type: none;
    padding left: 0;

}
#promocoes ul li::before{
    content: "\2713";
    padding-right: 8px;
    color: #ff0000;
}
#promocoes button{
    padding: 10px;
    background: #3264A6;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
#promocoes button:hover{
    transform: scale(1.03);
    transition:0,5s;
    background: #ff0000;
    cursor: pointer;
}
#promocoes2{
    width: 1200px;
    display: flex;
  padding-right: 8px;
  gap: 30px;
  margin-top: 0 auto;
  margin: 0 auto;
  flex: 1 1 calc(30% - 50px);
}
#promocoes2 ul{
    list-style-type: none;
    padding-left: 0;
}
#promocoes2 h2{
    font-size: 1.2rem;
}
#promocoes2 ul li::before{
    content: "\2713";
    padding-right: 8px;
    color: #ff0000;
}
#promocoes2 button{
    background: #3264A6;
    color: #fff;
     font-weight: bold;
     padding: 8px;
     border: none;
     border-radius: 5px;
     font-size: 1rem;
}
#promocoes2 button:hover{
    background: #ff0000;
    cursor: pointer;
    transform: scale(1.03);
    transition: 0,5s;
}
#avaliacao-img1{
    background: url(../IMG/gordon-cowie-gjua-5icM2U-unsplash.jpg)no-repeat center center;
    background-size: cover;
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 50%;
}
#avaliacoes{
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 120px auto;
}
    
#avaliacao-img2{
    background: url(../IMG/albert-dera-ILip77SbmOE-unsplash.jpg)no-repeat center center;
    background-size: cover;
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 50%;
}
#avaliacao-img3{
    background: url(../IMG/nartan-buyukyildiz-hr_feH2URs0-unsplash.jpg) no-repeat center center;
    background-size: cover;
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 50%;
}
#avaliacoes h4{
    color: #ff0000;
    font-size: 1.3rem;
}
.avaliacao-card{
    border: 2px solid;
    padding: 15px;
    border-radius: 4px[];
}
#Agendamento-banner{
    background: red;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    background: url(../IMG/18.jpg)no-repeat center center;
    background-size: cover;
    color: #fff;
}
    #Agendamento-banner  h2{
        font-size: 3rem;
        margin-top: 0px;
    } 
    #Agendamento-banner h5{
        font-size: 1.2rem;
        margin-top: 0px;
    }
    #Agendamento{
        max-width: 1200px;
        margin: 0 auto;
        background: #fff;
        margin-top: -120px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        gap: 30px;
        padding: 30px;
        margin-bottom: 30px;
    }
    .contato-img{
        width: 100%;
        
    }
    #Agendamento form,#Agendamento div{
        flex: 1 1 calc(50% - 30px);
    }
    
    #Agendamento input, #Agendamento select {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
    #Agendamento p{
        font-weight: bold;
    }

    #Agendamento a{
        
        color: #000;
    }